html{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background-color: #000d14;

    font-family: 'Cairo', sans-serif;
    line-height: 1.2;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    color: #f2f2f2;

    background: url('/public/images/background.jpg') no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    overflow: hidden;
}

p {
    font-size: 2em;
}

h1 {
    display: inline;
    font-size: 2.8em;
    text-align: center;
    padding: 1em;
}

/*______________________________________MAIN_______*/
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    overflow-y: auto;
}

main > div {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

li {
    margin: 1em;
    list-style: none;
    display: flex;
}

li a {
    background-color: #00263A;
    width: 180px;
    height: 180px;

    color: #f2f2f2;
    display: block;
    padding: .8em 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

li a:hover {
    background-color: #003A59;
    cursor: pointer;
}
